#footer {
    margin-top: 5rem;
    margin-bottom: 7rem;
}


/* ================= SOCIALS =================  */
.footerSocial {

    display: flex;
    justify-content: center;
    /* margin-left: 1rem; */
    gap: 1rem;
}